/* regole base */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
ul,ol,menu{
    list-style: none;
}
body{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: currentColor;
}


/* versione Mobile 480px */

/* button */
.button{
    background-color: white;
    color: black;
    border-radius: 50px;
    
}

.button-apple{
    background-color: rgb(0, 132, 253);
    color: white;
    
}

/* container & row */

.row{
    display: flex;
}

.container_main{
    padding: 0 34px;
}

/*header Nav Mobile */

header{
    width: 100%;
    background-color: rgb(0, 132, 253);
}

.row_menu{
    padding: 10px 20px;
    max-width: 100%;
    color: white;
    justify-content: space-between;
    align-items: center;
}



 .nav_menu{
    display: flex;
    gap: 30px;
    font-size: 18px;
    display: none;
   
}

.row_menu .nav_menu li{
    padding: 5px 18px;
}

/* header Nav Tablet */

@media (min-width:810px){
    header{
        width: 100%;
    }
}

/* header Nav Desktop */

@media (min-width:1920px){
    header{
        width: 100%;
       
    }
    .row_menu .nav_menu{
        display: flex;
    }
    .hamburger_menu{
        display: none;
    }
    .container{
        max-width: 1100px;
        margin: 0 auto;
    }
}


/* main versione mobile */

/* prima sezione */

.section_demo{
    padding-top: 50px;
    padding-bottom: 80px;
}

.row_demo{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    
}

.card_demo{
    display: flex;
    flex-direction: column;
    gap: 42px;
    background-color: rgb(181, 221, 255);
    padding: 0 30px;
    border-radius: 20px;
}
.card-header{
    padding-top:38px;
}

.card-header h3{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(0, 132, 253);
}

.card-header p{
    font-size: 1rem;
    text-align:left;
    line-height: 1.8rem;
    margin-top: 44px;
}

.card_button{
    width: 200px;
    margin-top: 30px;
}
.card_button .button-apple{
    padding: 8px 40px;
}

/* card-small */
.card-small{
    align-items: center;
    gap:0;
    padding: 30px;
}
.card-small i{
    font-size: 80px;
    color:rgb(0, 132, 253)
}

.card-small .card-header p{
    text-align: center;
}


/* prima sezione versione Tablet */

@media (min-width:810px){

    .container_main{
        max-width: 810px;
        margin: 0 auto;
    }

    .row_demo{
        width:750px;
        
    }
    .col{
        width: calc(100% / 3 - 28px);
    }
    .row_demo .col-doble{
        width: 480px;
        height: 565px;
    }
    .card_demo{
        width: 100%;
        height: 100%;
    }
    .card_figure{
        width: 50%;
    }
}


/* prima sezione versione desk */
@media (min-width:1920px) {
    .container_main{
        max-width: 1130px;
    }
    .row_demo .col-doble{
        width: 745px;
        height: 400px;
    }
    .col-doble .card_demo{
        flex-direction: row;
        gap: 0;
    }
    .col-doble .card_figure{
        width: 100%;
        align-self: flex-end;
    }
    .card_wrapper{
        padding-right: 30px;
    }
    .row_demo{
        width: 100%;
        justify-content: space-between;
    }
    .col{
        width: calc(100% / 3 - 65px);}
}





/* seconda section versione mobile */

.section_planning{
    background-color: rgb(151, 146, 228);
}
.container_planning{
    width: 100%;
    padding: 60px 0;
}
.row_planning{
    display: flex;
    flex-direction: column;
}

.col-left{
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.col-left .figure{
    margin-bottom: 130px;
}
.col-left .title_planning{
    font-size: 32px;
    margin-bottom: 60px;
}
.col-left .p_planning{
    font-size: 1rem;
    padding-bottom: 10px;
    line-height: 2rem;
}
.col-right{
    padding: 30px;
}
.card_planning{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    gap: 30px;
    padding: 36px;
}

.card_planning .download{
    background-color: rgb(151, 146, 228) ;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 30px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_planning i{
    font-size: 20px;
    text-align: center;
}

/* seconda sezione tablet */
@media (min-width:810px){
    .container_planning{
        max-width: 810px;
        margin: 0 auto;
    }

    .col-left .title_planning{
        font-size: 30px;
    }

    .col-right h3{
        font-size: 28px;
    }
    .section_planning p{
        font-size: 18px;
    }
}

/* seconda section versione desk */
@media (min-width:1920px){
    .container_planning{
        max-width: 900px;
        margin: 0 auto;
    }
    .container_planning .row_planning{
        flex-direction: row;
        gap: 20px;
    }
    .col-right .card_planning{
        align-self: flex-end;
        height: 548px;
    }
    .col-right{
        display: flex;
        /* flex-basis: 0;
        flex-grow: 1; */
        width: calc(100% / 2);
    }
    .card_planning .figure_planning img{
        width: 70%;
    }

    .col-left{
        /* flex-basis: 0;
        flex-grow: 1; */
        width: calc(100% / 2);
    } 
    .card_left .figure{
        width: 80%;
        margin-bottom: 100px;
    }
    
}



/* terza sezione mobile */
 .section_testimonials{
    padding-top: 70px;
    padding-bottom: 110px;
 }
 .container_testimonials{
    width: 100%;
    padding: 0 50px ;
    
 }

 .row_testimonials{
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0 20px;
    gap: 50px;
    margin-bottom: 60px;
 }
 .row_testimonials h1{
    font-size: 28px;
    color: rgb(151, 146, 228);
 }
 .row_testimonials p{
    line-height: 2rem;
 }

 .col_testimonials .card{
    background-color: rgb(151, 146, 228);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 308px;
    border-radius: 50px;
    padding: 33px;
    gap: 20px;
    
 }
 .card q{
    line-height: 2rem;
 }



 .col_testimonials .figure img{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    
 }
 
 .row_testimonials-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
 }

 /* terza sezione tablet */
 @media (min-width:810px){
    .container_testimonials{
        width: 810px;
        margin: 0 auto;
    }

    .row_testimonials-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
         gap: 28px;
     }
     .col_testimonials .card{
        flex-direction: row;
        width: 100%;
     }
     .row_testimonials h1{
        font-size: 36px;
     }
     .card q{
        line-height: 2rem;
        font-size: 20px;
     }
    
     .card address{
        font-size: 18px;
     }
     .col_testimonials .figure img{
        width: 500px;
         
    }


 }

 /* terza sezione desk */
 @media (min-width:1920px){
    .container_testimonials{
        width: 1130px;
        margin: 0 auto;
    }
    .card q{
        line-height: 2rem;
        font-size: 20px;
     }
     .card address{
        font-size: 20px;
        margin-top: 20px;
     }
     .row_testimonials p{
        line-height: 2rem;
        font-size: 20px;
     }
     .row_testimonials:first-child{
        font-size: 20px;
     }
     .row_testimonials h1{
        font-size: 40px;
     }
    
 }